<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.test.Board">
	<select id="selectAll" resultType="board">
		select board.*, ifnull(c.cnt, 0) as cnt from board left join (
        select bno, count(*) as cnt from comments group by bno)
        as c
        on board.bno = c.bno
		order by bno desc
	</select>
	
	<select id="isSelect" parameterType="int" resultType="string">
		select cno from comments
		where isSelected = 1 and bno =#{bno} ;
	
	</select>
	
	<select id="select" parameterType="int" resultType="board">
		select * from board
		where bno =#{bno}
	
	</select>
	

	<select id="getComments" parameterType="int" resultType="comments">
		select * from comments
		where bno =#{bno}
		order by bno desc
	
	</select>
	
	<select id="search" parameterType="string" resultType="board">
		select board.*, ifnull(c.cnt, 0) as cnt from board left join (
        select bno, count(*) as cnt from comments group by bno)
        as c
        on board.bno = c.bno
		where bstate =#{bstate}
		order by bno desc
	
	</select>
	
	<select id="searchById" parameterType="string" resultType="board">
		select board.*, ifnull(c.cnt, 0) as cnt from board left join (
        select bno, count(*) as cnt from comments group by bno)
        as c
        on board.bno = c.bno
		where bwriter =#{bwriter}
		order by bno desc
	
	</select>

	<select id="searchByContents" parameterType="string" resultType="board">
		select board.*, ifnull(c.cnt, 0) as cnt from board left join (
        select bno, count(*) as cnt from comments group by bno)
        as c
        on board.bno = c.bno
		where bcontent like CONCAT('%',#{bcontent},'%')
		order by bno desc
	
	</select>
	
	
	<select id="searchByTitle" parameterType="string" resultType="board">
		select board.*, ifnull(c.cnt, 0) as cnt from board left join (
        select bno, count(*) as cnt from comments group by bno)
        as c
        on board.bno = c.bno
		where btitle like CONCAT('%',#{btitle},'%')
		order by bno desc
	
	</select>
	
	<select id="searchByTitleAndContents" parameterType="string" resultType="board">
		select board.*, ifnull(c.cnt, 0) as cnt from board left join (
        select bno, count(*) as cnt from comments group by bno)
        as c
        on board.bno = c.bno
		where btitle like CONCAT('%',#{btitle},'%') or bcontent like CONCAT('%',#{btitle},'%')
		order by bno desc
	
	</select>


	<!-- Dto searach  -->


	<select id="typesearchById" parameterType="board" resultType="board">
		select board.*, ifnull(c.cnt, 0) as cnt from board left join (
        select bno, count(*) as cnt from comments group by bno)
        as c
        on board.bno = c.bno
		where bwriter =#{bwriter} and bstate =#{bstate}
		order by bno desc
	
	</select>

	<select id="typesearchByContents" parameterType="board" resultType="board">
		select board.*, ifnull(c.cnt, 0) as cnt from board left join (
        select bno, count(*) as cnt from comments group by bno)
        as c
        on board.bno = c.bno
		where bcontent like CONCAT('%',#{bcontent},'%') and bstate =#{bstate}
		order by bno desc
	
	</select>
	
	
	<select id="typesearchByTitle" parameterType="board" resultType="board">
		select board.*, ifnull(c.cnt, 0) as cnt from board left join (
        select bno, count(*) as cnt from comments group by bno)
        as c
        on board.bno = c.bno
	where btitle like CONCAT('%',#{btitle},'%') and bstate =#{bstate}
	order by bno desc
	
	</select>
	
	<select id="typesearchByTitleAndContents" parameterType="board" resultType="board">
		select board.*, ifnull(c.cnt, 0) as cnt from board left join (
        select bno, count(*) as cnt from comments group by bno)
        as c
        on board.bno = c.bno
		where (btitle like CONCAT('%',#{btitle},'%') or bcontent like CONCAT('%',#{bcontent},'%')) and bstate =#{bstate}
		order by bno desc
	
	</select>




	<insert id="insert" parameterType="board">
		insert into board(bwriter,btitle,bcontent,bview,bfile,bstate,makeDay,makeId)
		values(#{bwriter}, #{btitle},
		#{bcontent}, #{bview}, #{bfile}, #{bstate},
		#{makeDay},#{makeId})
	</insert>

	<delete id="delete" parameterType="int">
		delete from board where
		bno=#{bno}
	</delete>
	
	<delete id="deletecomments" parameterType="int">
		delete from comments 
		where bno = #{bno}
	</delete>

	<update id="update" parameterType="board">
	
		update board set
		btitle=#{btitle}, bcontent=#{bcontent},
		bfile=#{bfile}, bstate=#{bstate}, changeDay=#{changeDay},
		changeId=#{changeId}
		where bno=#{bno}
	</update>
	
	
	<update id="read" parameterType="int">
		update board set
		bview = bview + 1
		where bno=#{bno}
	</update>
</mapper>