<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.test.Board">
	<select id="selectAll" resultType="board">
		select * from board
	</select>

	<select id="select" parameterType="int" resultType="board">
		select * from board
		where bno =#{bno}
	
	</select>

	<select id="getComments" parameterType="int" resultType="comments">
		select * from comments
		where bno =#{bno}
	
	</select>
	
	<select id="search" parameterType="string" resultType="board">
		select bno,bwriter,btitle,bcontent,bview,bfile,bstate,makeday,makeid from board
		where bstate =#{bstate}
	
	</select>


	<insert id="insert" parameterType="board">
		insert into board(bwriter,btitle,bcontent,bview,bfile,bstate,makeday,makeid)
		values(#{bwriter}, #{btitle},
		#{bcontent}, #{bview}, #{bfile}, #{bstate},
		#{makeday},#{makeid})
	</insert>

	<delete id="delete" parameterType="int">
		delete from board where
		bno=#{bno}
	</delete>

	<update id="update" parameterType="board">
		update board set
		btitle=#{btitle}, bcontent=#{bcontent},
		bfile=#{bfile}, bstate=#{bstate}, changeday=#{changeday},
		changeid=#{changeid}
		where bno=#{bno}
	</update>
</mapper>