<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.test.Chat">
	<select id="selectAll" parameterType="string" resultType="chat">
		select * from chat
		where roomName = #{roomName}
	</select>
 
 
	<insert id="insert" parameterType="string">
		insert into chat(roomName,id,nickname,content,makedate)
		values(#{roomName}, #{id},
		#{nickname}, #{content}, now())
	</insert>

	<delete id="delete" parameterType="string">
		delete from chat
		where
		roomName=#{roomName}
	</delete>

</mapper>