<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.test.Message">

	<!-- message 생성 -->
	<insert id="insert" parameterType="message">
		insert into message
		(toUser,fromUser,content,time,isRead)
		values
		(#{toUser},#{fromUser},#{content},#{time},#{isRead})
	</insert>
	<!-- message 생성 -->
	<insert id="insertAlert" parameterType="message">
		insert into message
		(toUser,fromUser,content,time,isRead)
		values
		(#{toUser},#{fromUser},#{content},#{time},#{isRead})
	</insert>



	<!-- message 삭제 -->
	<delete id="delete" parameterType="int">
		delete from message where
		mnum=#{mnum}
	</delete>


	<!-- message 조회 -->
	<select id="select" parameterType="int" resultType="message">
		select
		mnum,toUser,fromUser,content,time,isRead
		from message where mnum=#{mnum}
	</select>

	<select id="selectById" parameterType="String"
		resultType="message">
		select mnum, toUser,fromUser,content,time,isRead
		from message
		where  toUser = #{toUser} or fromUser = #{fromUser}
		order by time desc
	</select>

	<!-- 특정인과 message 조회 -->
	<select id="getcontacts" parameterType="message" resultType="message">
		select mnum,toUser,fromUser,content,time,isRead
		from message 
		where (toUser = #{toUser} and  fromUser = #{fromUser}) or (toUser=#{fromUser} and fromUser=#{toUser})
		order by time desc
	</select>


	<!-- 전체 message 조회 -->
	<select id="selectAll" parameterType="string"
		resultType="message">
		select mnum, toUser,fromUser,content,time,isRead
		from
		message
	</select>

	<!--  is-read를 업데이트 -->
	<update id="update">
	update message set isRead=1 where mnum=#{mnum};
	</update>



</mapper>