<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.test.pmember">
	<select id="selectAll" resultType="pmember">
		select * from pmember;
	</select>

	<select id="selectByUserId" parameterType="string" resultType="pmember">
		select * from pmember
		where userId = #{userId};
	</select>

	<select id="select" parameterType="pmember" resultType="pmember">
		select *
		from
		pmember where pid=#{pid} and
		userId=#{userId}
	</select>
	
	<select id="selectCntByPid" parameterType="int" resultType="int">
		select count(*)
		from pmember
		where pid = #{pid}
	</select>

	<insert id="insert" parameterType="pmember">
		insert into pmember
		select
		#{pid}, #{userId}, #{state}, #{priority}
		from dual
		where exists (select
		* from userInfo where id = #{userId})
		and exists (select * from project
		where pid = #{pid})
		and not exists(select * from pmember where userId
		=#{userId} and pid = #{pid});
	</insert>

	<delete id="delete" parameterType="pmember">
		delete from pmember
		where
		pid=#{pid} and userId=#{userId}
	</delete>

	<update id="update" parameterType="pmember">
		update pmember set
		state=#{state}, priority=#{priority}
		where pid=#{pid} and
		userId=#{userId}
	</update>
</mapper>