<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.test.Preference">

    <!-- 좋싫 생성  -->
    <insert id="insert" parameterType="preference">
        insert into preference (puser,pboardno,plike) 
         values (#{puser},#{pboardno},#{plike})
    </insert>

    <!--  좋싫 삭제  -->
    <delete id="delete" parameterType="int">
        delete from preference where pno=#{pno}
    </delete>
    
    
    <!-- 좋싫 조회 -->
    <select id="select" parameterType="int" resultType="preference">
        select pno,puser,pboardno,plike 
        from preference where pno=#{pno} 
    </select>
    
   <select id="selectAll" parameterType="string" resultType="preference">
        select pno,puser,pboardno,plike 
        from preference 
    </select>
    


</mapper>