<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.test.Project">
	<select id="selectAll" resultType="project">
		select * from project
	</select>

	<select id="select" parameterType="int" resultType="project">
		select * from
		project where pid=#{pid}
	</select>

	<insert id="insert" parameterType="project">
		insert into project
		values(#{pid}, #{pjtName}, #{pjtContent}, #{pjtState},
		1, #{makeDay}, #{changeDay}, #{makeId},
		#{changeId})
	</insert>

	<delete id="delete" parameterType="int">
		delete from project where
		pid=#{pid}
	</delete>

	<update id="update" parameterType="project">
		update project set
		pjtName=#{pjtName}, pjtContent=#{pjtContent}, pjtState=#{pjtState},
		pjtMemberCnt=#{pjtMemberCnt}, makeDay=#{makeDay}, changeDay=#{changeDay},
		makeId=#{makeId}, changeId=#{changeId}
		where pid=#{pid}
	</update>
</mapper>