<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.test.Recruit">
	<select id="selectAll" resultType="recruitpjt">
	select a.pid, a.title, a.contents, a.endDate, a.makeDay, a.changeDay,a.makeId,a.changeId, b.pjtName
	from recruit as a, project as b
	where a.pid = b.pid;
	</select>

	<select id="selectByAddr" resultType="recruit"
		parameterType="addr">
		select r.rnum, r.pid, r.title, r.contents, r.endDate,
		r.makeDay, r.changeDay, r.makeId, r.changeId from recruit as r
		left
		join project as p
		on r.pid = p.pid
		where p.location like
		CONCAT('%',#{sido},'%')
		and p.location like CONCAT('%',#{gugun},'%')
		and p.location like CONCAT('%',#{dong},'%');

	</select>
	
	<select id="selectByAddrWriter" resultType="recruit"
		parameterType="searchparameter">
		select r.rnum, r.pid, r.title, r.contents, r.endDate,
		r.makeDay, r.changeDay, r.makeId, r.changeId from recruit as r
		left
		join project as p
		on r.pid = p.pid
		where p.location like
		CONCAT('%',#{sido},'%')
		and p.location like CONCAT('%',#{gugun},'%')
		and p.location like CONCAT('%',#{dong},'%')
		and r.makeId like CONCAT('%', #{keyword}, '%');

	</select>
	
	<select id="selectByAddrTitle" resultType="recruit"
		parameterType="searchparameter">
		select r.rnum, r.pid, r.title, r.contents, r.endDate,
		r.makeDay, r.changeDay, r.makeId, r.changeId from recruit as r
		left
		join project as p
		on r.pid = p.pid
		where p.location like
		CONCAT('%',#{sido},'%')
		and p.location like CONCAT('%',#{gugun},'%')
		and p.location like CONCAT('%',#{dong},'%')
		and r.title like CONCAT('%', #{keyword}, '%');

	</select>

	<select id="selectAllByWriter" resultType="recruit"
		parameterType="searchparameter">
		select r.rnum, r.pid, r.title, r.contents, r.endDate,
		r.makeDay, r.changeDay, r.makeId, r.changeId from recruit as r
		left
		join project as p
		on r.pid = p.pid
		where p.location like
		CONCAT('%',#{sido},'%')
		and p.location like CONCAT('%',#{gugun},'%')
		and p.location like CONCAT('%',#{dong},'%')
		and r.makeId like CONCAT('%', #{keyword}, '%')
		and r.pid in (
		select pid
		from (
		select *
		from pinterest
		where interest in
		(#{tag1},#{tag2},#{tag3},#{tag4},#{tag5})
		) as p
		group by pid
		having
		count(interest) >= #{cnt}
		);
	</select>

	<select id="selectAllByTitle" resultType="recruit"
		parameterType="searchparameter">
		select r.rnum, r.pid, r.title, r.contents, r.endDate,
		r.makeDay, r.changeDay,
		r.makeId, r.changeId from recruit as r
		left
		join
		project as p
		on r.pid =
		p.pid
		where p.location like
		CONCAT('%',#{sido},'%')
		and p.location like
		CONCAT('%',#{gugun},'%')
		and
		p.location like CONCAT('%',#{dong},'%')
		and r.title like CONCAT('%', #{keyword},
		'%')
		and r.pid in (
		select pid
		from (
		select *
		from pinterest
		where interest in
		(#{tag1},#{tag2},#{tag3},#{tag4},#{tag5})
		) as p
		group by pid
		having
		count(interest) >= #{cnt}
		);
	</select>

	<select id="selectSame" resultType="recruit"
		parameterType="taglist">
		select * from recruit
		where pid in (
		select pid
		from (
		select *
		from pinterest
		where interest in
		(#{tag1},#{tag2},#{tag3},#{tag4},#{tag5})
		) as p
		group by pid
		having
		count(interest) >= #{cnt}
		);

	</select>
	
	

	<select id="selectAddrAndTag" parameterType="addrandtag"
		resultType="recruit">
		select r.rnum, r.pid, r.title, r.contents, r.endDate,
		r.makeDay, r.changeDay, r.makeId, r.changeId from recruit as r
		left
		join project as p
		on r.pid = p.pid
		where p.location like
		CONCAT('%',#{sido},'%')
		and p.location like CONCAT('%',#{gugun},'%')
		and p.location like CONCAT('%',#{dong},'%')
		and r.pid in (
		select pid
		from (
		select *
		from pinterest
		where interest in
		(#{tag1},#{tag2},#{tag3},#{tag4},#{tag5})
		) as p
		group by pid
		having
		count(interest) >= #{cnt}
		);

	</select>

	<select id="select" parameterType="int" resultType="recruit">
		select * from
		recruit
		where rnum=#{rnum}
	</select>

	<insert id="insert" parameterType="recruit">

		insert into recruit(pid,
		title, contents, endDate, makeDay, changeDay, makeId, changeId)
		select
		#{pid}, #{title}, #{contents},
		date_add(now(), interval 7 day),
		now(),
		now(),
		#{makeId}, #{changeId}
		where exists (select * from project
		where
		pid =
		#{pid})
		and exists (select * from userInfo where id =
		#{makeId})
		and exists
		(select * from userInfo where id = #{changeId})
		;

	</insert>

	<delete id="delete" parameterType="int">
		delete from recruit where
		rnum=#{rnum}
	</delete>

	<update id="update" parameterType="recruit">

		update recruit inner join
		userInfo
		on userInfo.id = recruit.changeId
		set title
		= #{title},
		contents
		= #{contents}, changeId =
		#{changeId}
		where (select
		count(*)
		from userInfo
		where id = #{changeId}) = 1
		and rnum = #{rnum}
		;

	</update>
</mapper>