<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.test.Recruit">
	<select id="selectAll" resultType="recruit">
		select * from recruit
	</select>

	<select id="select" parameterType="int" resultType="recruit">
		select * from
		recruit
		where rnum=#{rnum}
	</select>

	<insert id="insert" parameterType="recruit">
		insert into recruit(rnum, pid,
		title, contents, end_date, makeday, changeday, makeid, changeid)
		values(#{rnum},
		#{pid}, #{title}, #{contents},
		#{end_date}, #{makeday}, #{changeday},
		#{makeid}, #{changeid})
	</insert>

	<delete id="delete" parameterType="int">
		delete from recruit where
		rnum=#{rnum}
	</delete>

	<update id="update" parameterType="recruit">
		update recruit set
		pid=#{pid},
		title=#{title}, contents=#{contents},
		end_date=#{end_date},
		makeday=#{makeday}, changeday=#{changeday},
		makeid=#{makeid}, changeid=#{changeid}
		where
		rnum=#{rnum}
	</update>
</mapper>