<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.test.UserInfo">

    <!-- 회원 가입  -->
    <insert id="insert" parameterType="userinfo">
        insert into userInfo (id,nickname,name,pw,address1,address2,phone,git,points,lastDate,state,responsibility) 
         values (#{id},#{nickname},#{name},#{pw},#{address1},#{address2},#{phone},#{git},#{points},#{lastDate},#{state},#{responsibility})
    </insert>

    <!-- 회원 수정 -->
    <update id="update" parameterType="userinfo" >
         update userInfo 
         set pw=#{pw}, nickname=#{nickname}, lastDate=#{lastDate}, address1=#{address1}, address2=#{address2}
           ,phone=#{phone},git=#{git},state=#{state} ,responsibility=#{responsibility} 
          where id=#{id}
    </update>
    <!--  validation 수정 -->
     <update id="updateVal" parameterType="String" >
         update userInfo 
         set isValid=true
          where id=#{id}
    </update>
    
    <!--  회원 삭제  -->
    <delete id="delete" parameterType="string">
        delete from userInfo where id=#{id}
    </delete>
    
    
    <!-- 로그인 회원 조회 -->
    <select id="select" parameterType="string" resultType="userinfo">
        select id,nickname,name,pw
        from userInfo where id=#{id} 
    </select>
    
    <select id="getCurrList" resultType="userinfo">
    	select *
    	from userInfo
    	where state = 1;
    </select>
    
    <select id="selectAll" parameterType="string" resultType="userinfo">
        select * from userInfo
    </select> 
    
    <select id="login" parameterType="string" resultType="userinfo">
    select id,nickname,name,pw,phone,git,points,lastDate,state,responsibility
    from userInfo where id=#{id} and pw=#{pw}
    </select>
    
        <select id="signin" parameterType="string" resultType="userinfo">
    select id,nickname,name,pw,phone,git,points,lastDate,state,address1,address2,responsibility
    from userInfo where id=#{id} and pw=#{pw}
    </select>



</mapper>