<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.test.Usertag">
	<select id="selectAll" parameterType="string" resultType="interest">
		select * from interest
		where id =#{id}
	</select>
 
	<select id="select" parameterType="interest" resultType="interest">
		select * from interest
		where interest = #{interest} and id =#{id};
	</select>
 
	<insert id="insert" parameterType="interest">
		insert into interest(interest,id)
		values(#{interest},#{id})
	</insert>

	<delete id="delete" parameterType="interest">
		delete from interest
		where
		interest=#{interest} and id=#{id}
	</delete>
	
	
	<select id="selectSimilar" parameterType="taglist" resultType="userinfo">
	
    select *
    from userInfo
    where id in (
		select id
		from (
			select *
			from interest
			where interest in  (#{tag1},#{tag2},#{tag3},#{tag4},#{tag5})
		) as b
		group by id
	);
	</select>
	
	
	
	<select id="selectSame" parameterType="taglist" resultType="userinfo">
	
    select *
    from userInfo
    where id in (
		select id
		from (
			select * from interest
			where interest in (#{tag1},#{tag2},#{tag3},#{tag4},#{tag5})
		) as b
		group by id
		having count(interest) >= #{cnt}
		
	);
	</select>
	
	
	<select id="selectAddrAndTag" parameterType="addrandtag" resultType="userinfo">
	select id, nickname, name, address2, git, lastDate, state, responsibility, isValid
	from userInfo
	where address2 like CONCAT('%',#{sido},'%')
    and address2 like CONCAT('%',#{gugun},'%')
    and address2 like CONCAT('%',#{dong},'%')
	and id in (
		select  id
		from (
			select * from interest
			where interest in  (#{tag1},#{tag2},#{tag3},#{tag4},#{tag5})
		) as b
		group by id
		having count(interest) >= #{cnt}
	);
	</select>
	
	

</mapper>