<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.test.Usertag">
	<select id="selectAll" parameterType="string" resultType="usertag">
		select * from usertag
		where uid =#{uid}
	</select>
 
	<select id="select" parameterType="usertag" resultType="usertag">
		select * from usertag
		where tagvalue = #{tagvalue} and uid =#{uid};
	</select>
 
	<insert id="insert" parameterType="usertag">
		insert into usertag(tagvalue,uid)
		values(#{tagvalue},#{uid})
	</insert>

	<delete id="delete" parameterType="usertag">
		delete from usertag
		where
		tagvalue=#{tagvalue} and uid=#{uid}
	</delete>
	
	
	<select id="selectSimilar" parameterType="taglist" resultType="tagresult">
	select count(tagvalue) as same, uid
	from (
		select *
		from usertag
		where tagvalue in  (#{tag1},#{tag2},#{tag3},#{tag4},#{tag5})
	) as b
	group by uid;
	</select>
	
	
	
	<select id="selectSame" parameterType="string" resultType="taglist">
	
	select * 
	from usertag
	where tagvalue like CONCAT('%',#{tag1},'%') and 
	tagvalue like  CONCAT('%',#{tag2},'%') and
	tagvalue like  CONCAT('%',#{tag3},'%') and
	tagvalue like  CONCAT('%',#{tag4},'%') and
	tagvalue like  CONCAT('%',#{tag5},'%')
	</select>
	
	

</mapper>