<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.test.WaitMember">

	<insert id="insert" parameterType="waitmember">
		insert into waitMember(pid,userId,comment,type,code,state)
		values (#{pid}, #{userId}, #{comment}, #{type}, #{code},#{state})
	</insert>



	<select id="selectbyuserId" parameterType="string" resultType="waitmember">
		select * from waitMember
		where userId = #{userId};
	</select>
	<select id="selectByCode" parameterType="string" resultType="waitmember">
		select * from waitMember
		where code = #{code};
	</select>
	<select id="selectbyPid" parameterType="int" resultType="waitmember">
		select * from waitMember
		where pid = #{pid};
	</select>
	
	


	<delete id="delete" parameterType="pmember">
		delete from waitMember
		where
		pid=#{pid} and userId=#{userId} 
	</delete>

</mapper>