<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.ssafy.test.model.dto.Project"
			alias="project" />
		<typeAlias type="com.ssafy.test.model.dto.Recruit"
			alias="recruit" />
		<typeAlias type="com.ssafy.test.model.dto.Pmember"
			alias="pmember" />
		<typeAlias type="com.ssafy.test.model.dto.Interest"
			alias="interest" />
       <typeAlias type="com.ssafy.test.model.dto.UserInfo" 
       		alias="userinfo"/>
        <typeAlias type="com.ssafy.test.model.dto.Following" 
        	alias="following"/>
        <typeAlias type="com.ssafy.test.model.dto.Message" 
        	alias="message"/>
        <typeAlias type="com.ssafy.test.model.dto.Preference" 
        	alias="preference"/>
		<typeAlias type="com.ssafy.test.model.dto.Board"
			alias="board" />
		<typeAlias type="com.ssafy.test.model.dto.Comments"
			alias="comments" />
		<typeAlias type="com.ssafy.test.model.dto.Pinterest"
			alias="pinterest" />
		<typeAlias type="com.ssafy.test.model.dto.Reffile"
			alias="reffile" />
		<typeAlias type="com.ssafy.test.model.dto.Chat"
			alias="chat" />
		<typeAlias type="com.ssafy.test.model.dto.Chatroom"
			alias="chatroom" />
			<typeAlias type="com.ssafy.test.model.dto.Email"
			alias="email" />
			<typeAlias type="com.ssafy.test.model.dto.Issue"
			alias="issue" />
			<typeAlias type="com.ssafy.test.model.dto.ChatroomChat"
			alias="chatroomchat" />
			<typeAlias type="com.ssafy.test.model.dto.Usertag"
			alias="usertag" />
			<typeAlias type="com.ssafy.test.model.dto.Tag"
			alias="tag" />
			<typeAlias type="com.ssafy.test.model.dto.Addr"
			alias="addr" />
			<typeAlias type="com.ssafy.test.model.dto.TagList"
			alias="taglist" />
			<typeAlias type="com.ssafy.test.model.dto.TagResult"
			alias="tagresult" />
			<typeAlias type="com.ssafy.test.model.dto.AddrAndTag"
			alias="addrandtag" />
			<typeAlias type="com.ssafy.test.model.dto.SearchParameter"
			alias="searchparameter" />
			<typeAlias type="com.ssafy.test.model.dto.RecruitPjt"
			alias="recruitpjt" />
			<typeAlias type="com.ssafy.test.model.dto.Projectcnt"
			alias="projectcnt" />
			
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/mapper/projectMapper.xml" />
		<mapper resource="mybatis/mapper/recruitMapper.xml" />
		<mapper resource="mybatis/mapper/pmemberMapper.xml" />
		<mapper resource="mybatis/mapper/interestMapper.xml" />
		<mapper resource="mybatis/mapper/UserInfoMapper.xml" />
        <mapper resource="mybatis/mapper/FollowingMapper.xml" />
        <mapper resource="mybatis/mapper/MessageMapper.xml" />
        <mapper resource="mybatis/mapper/PreferenceMapper.xml" />
		<mapper resource="mybatis/mapper/boardMapper.xml" />
		<mapper resource="mybatis/mapper/commentsMapper.xml" />
		<mapper resource="mybatis/mapper/pinterestMapper.xml" />
		<mapper resource="mybatis/mapper/reffileMapper.xml" />
		<mapper resource="mybatis/mapper/chatMapper.xml" />
		<mapper resource="mybatis/mapper/chatroomMapper.xml" />
		<mapper resource="mybatis/mapper/EmailMapper.xml" />
		<mapper resource="mybatis/mapper/issueMapper.xml" />
		<mapper resource="mybatis/mapper/TagMapper.xml" />
		<mapper resource="mybatis/mapper/UsertagMapper.xml" />
		<mapper resource="mybatis/mapper/addrMapper.xml" />
		
	</mappers>

</configuration>