<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.ssafy.test.model.dto.Project"
			alias="project" />
		<typeAlias type="com.ssafy.test.model.dto.Recruit"
			alias="recruit" />
		<typeAlias type="com.ssafy.test.model.dto.Project_member"
			alias="project_member" />
		<typeAlias type="com.ssafy.test.model.dto.Interest"
			alias="interest" />
       <typeAlias type="com.ssafy.test.model.dto.UserInfo" 
       		alias="userinfo"/>
        <typeAlias type="com.ssafy.test.model.dto.Following" 
        	alias="following"/>
        <typeAlias type="com.ssafy.test.model.dto.Message" 
        	alias="message"/>
        <typeAlias type="com.ssafy.test.model.dto.Preference" 
        	alias="preference"/>
		<typeAlias type="com.ssafy.test.model.dto.Board"
			alias="board" />
		<typeAlias type="com.ssafy.test.model.dto.Comments"
			alias="comments" />
		<typeAlias type="com.ssafy.test.model.dto.Pinterest"
			alias="pinterest" />
		<typeAlias type="com.ssafy.test.model.dto.Reffile"
			alias="reffile" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/mapper/projectMapper.xml" />
		<mapper resource="mybatis/mapper/recruitMapper.xml" />
		<mapper resource="mybatis/mapper/project_memberMapper.xml" />
		<mapper resource="mybatis/mapper/interestMapper.xml" />
		<mapper resource="mybatis/mapper/UserInfoMapper.xml" />
        <mapper resource="mybatis/mapper/FollowingMapper.xml" />
        <mapper resource="mybatis/mapper/MessageMapper.xml" />
        <mapper resource="mybatis/mapper/PreferenceMapper.xml" />
		<mapper resource="mybatis/mapper/boardMapper.xml" />
		<mapper resource="mybatis/mapper/commentsMapper.xml" />
		<mapper resource="mybatis/mapper/pinterestMapper.xml" />
		<mapper resource="mybatis/mapper/reffileMapper.xml" />
		
	</mappers>

</configuration>